{% extends 'base.html' %}
{% block header %}

{% include 'includes/navbar_simple.html' %}
{% include 'includes/header.html' %}

{% endblock header %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-10 m-auto">
        <!-- Row for  blog posts-->
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <a href="{{post.get_absolute_url}}"><img class="card-img-top" src="{{post.image.url}}" style="height: 250px;"/></a>
                    <div class="card-body">
                        <div class="small text-muted">{{post.created|timesince}}</div>
                        <h2 class="card-title h4">{{post.title}}</h2>
                        <p class="card-text">{{post.content|safe|truncatechars:100}}</p>
                        <a class="btn btn-primary" href="{{post.get_absolute_url}}">Read more →</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  <!--End posts-->
      </div>
      <div class="card col-lg-10 m-auto border-info mb-5 mt-5 p-3">
        <h2 class="card-text text-center">Contácto</h2>
        <form action="" method="post">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="input-group mb-3 mt5">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="text" name="name" placeholder="Nombre Completo" class="form-control">
                    </div>
                    <div class="input-group mb-3 mt5">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="email" name="email" placeholder="Correo Electrónico" class="form-control">
                    </div>
                    <div class="input-group mb-3 mt5">
                        <textarea name="msg" id="" rows="8" placeholder="Mensaje" class="form-control"></textarea>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fas fa-plus"></i>
                            &nbsp;&nbsp; Enviar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
      </div>
</div>

{% endblock content %}
    